.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    height: 97%;
    width: 97%;
    margin: auto;
    border-radius: 5px;
}

.settingsContainer {
    padding: 0px 45px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #b1b1b1;
    padding-bottom: 20px;
}

.settingsContainer:last-child {
    border-bottom: none;
}

.settingHeader {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}

.settingSubHeader {
    margin-top: 10px;
    font-size: 12px;
    color: #b1b1b1;
}

.textInput {
    display: block;
    height: 45px;
    width: 310px;
    text-indent: 20px;
    font-size: 12px;
    padding: 0;
    border-radius: 3px;
    border: 2px solid #bfbfbf;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    transition: border 150ms ease;
}

.textInput::placeholder {
    color: #a7a7a7;
    font-size: 13px;
    cursor: default;
}

.textInput:focus {
    border: 2px solid #ef3636;
}

.settingsbtn {
    margin-top: 10px;
}

.restoreWallet {
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
    cursor: pointer;
}

.restoreWallet:hover {
    color: #bfbfbf;
}