.button.black {
    color: #fff;
    background: #000;
}

.button.black:not(.disabled):not(.loading):hover {
    background: #333;
    transition: 0s;
}

.button.black:not(.disabled):not(.loading):active {
    background: #616161;
}