.button.secondary {
    background: transparent;
    color: #000;
    border: 2px solid #bfbfbf;
    box-sizing: border-box;
    font-weight: 600;
}

.button.secondary:not(.disabled):not(.loading):hover {
    background: transparent;
    border: 2px solid #ef3636;
    color: #6b6b6b;
    transition: 0ms;
}

.button.secondary:not(.disabled):not(.loading):active {
    border: 2px solid #bfbfbf;
}