.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.welcomeLogo {
    height: 160px;
    width: 210px;
    margin-bottom: 40px;
}

.decryptContainer {
    position: relative;
}

.decryptContainer > span {
    display: block;
    font-size: 13px;
    color: #ef3636;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    height: 12px;
}

.decryptContainer .textInput {
    display: block;
    height: 40px;
    width: 100%;
    text-indent: 20px;
    font-size: 14px;
    padding: 0;
    border-radius: 3px;
    border: 2px solid #bfbfbf;
    font-weight: 500;
    margin: 10px 0px;
}

.textInput::placeholder {
    color: #bfbfbf;
}

.textInput:focus {
    border: 2px solid #ef3636;
}

.restoreWallet {
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
    cursor: pointer;
}

.restoreWallet:hover {
    color: #bfbfbf;
}

.welcomeWarning {
    width: 310px;
    border-radius: 4px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    margin-top: 3px;
    line-height: 17px;
    background: #ed3f21;
    color: #fff;
}