.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.logo {
    height: 140px;
    width: 210px;
    background: #ccc;
    margin-bottom: 60px;
}

.decryptContainer {

}

.textInput {
    display: block;
    height: 32px;
    width: 306px;
    text-indent: 20px;
    font-size: 12px;
    padding: 0;
    border-radius: 3px;
    border: 2px solid #bfbfbf;
    font-weight: 500;
}

.textInput::placeholder {
    color: #bfbfbf;
}

.textInput:focus {
    border: 2px solid #ef3636;
}

.loginBtn {
    height: 45px;
    width: 310px;
    font-size: 14px;
    color: #fff;
    background: #000;
    text-align: center;
    line-height: 45px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 250ms;
}

.loginBtn:hover {
    background: #333;
    transition: 0s;
}

.loginBtn:active {
    background: #616161;
}

.restoreWallet {
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
    cursor: pointer;
}

.restoreWallet:hover {
    color: #bfbfbf;
}