.queue .confirmSend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    padding: 35px;
    box-sizing: border-box;
    height: 100%;
}

.confirmSubContainer {
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    padding: 20px 30px;
    box-sizing: border-box;
}

.confirmSubContainer > .noteTitle {
    font-weight: 700;
}

.confirmSubContainer > .noteBody {
    margin-top: 10px;
}

.confirmGroup {
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 35px;
}

.confirmGroup:first-child {
    margin-top: 0px;
}

.confirmGroupTop {
    display: flex;
    justify-content: space-between;
}

.confirmGroupHeader {

}

.confirmGroupAmount {
    font-family: 'Source Code Pro', monospace;
}

.confirmGroupBottom {
    font-family: 'Source Code Pro', monospace;
    text-align: right;
    font-size: 12px;
    margin-top: 4px;
}

.confirmWarningHeader {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    text-align: center;
    color: red;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

.confirmWarningBody {
    text-align: center;
    color: red;
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.orange {
    color: #ED3F23;
}

.confirmButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.confirmButton {
    width: 150px;
}