/*
 * @Author: lxm 
 * @Date: 2019-03-19 15:17:47 
 * @Last Modified by: lxm
 * @Last Modified time: 2019-03-21 15:27:11
 * TronBankPage
 */

.TronBankContainer{
    background: #F7F8FA;
    height:100%;
    width: 360px;
    // navbar
    .navbar{
        width: 100%;
        height: 58px;
        .commonBack{
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            width: 40px;
            height: 56px;
            background-image: url('../../assets/images/new/icon-back.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
        .rightMore{
            cursor: pointer;
            position: absolute;
            right:18px;
            top: 0;
            width: 18px;
            height: 56px;
        }
    }
    // menumodal
    .navBarMoreMenu{
            position: absolute;
            top: 40px;
            right: 18px;
            z-index: 100;
        .dropList{
            transform: translateX(100%);
            cursor: pointer;
            opacity: 0;            
            background: rgba(80,81,96,0.90);
            border-radius: 4px;
            transition: all ease-in-out .2s;
            .item{
                display: flex;
                flex-direction: row;
                padding: 0 8px;
                align-items: center;
                height: 30px;
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #F7F8FA;
                letter-spacing: 0.2px;
                cursor: pointer;
                &:hover{
                    background-color: #888998;
                }
            }
            .rightMoreIcon{
                width: 12px;
                height: 12px;
                margin-right: 6px;
            }
        }
        .menuVisible{
            opacity: 1;
            transform: translateX(0);
            transition: all .2s ease-in-out
        }
    }
    .bankContent{
        margin:0 18px;
    }
    .accountContent,.rentContent{
        margin:10px 0;
        padding:0px 12px;
        background: #FFFFFF;
        border-radius: 2px;
    }
    .accountContent{
        min-height:180px;
    }

    .rentContent{
        min-height: 220px;
        .rentNumEntrance{
            width: 14px;
            height: 14px;
            margin-left: 6px;
        }
    }

    // account
    .accountInfo{
        border-bottom: 1px solid #EFEFEF; 
    }

    // common
    .infoSec{
        padding:10px 0;
        label{
            font-family: PingFang-SC-Bold;
            font-size: 14px;
            color: #505160;
            letter-spacing: 0;
            display: flex;
        }
        .receiveAccount{
            input{
                font-family: PingFangSC-Regular;
                font-size: 12px;
                letter-spacing: 0;
                width:100%;
                height:100%;
                background: #F7F8FA;
                border:none;
                text-indent: 10px;
            }
            .rentNumInput{
                width: 252px;
            }
        }
        .selectedAccount{
            margin:10px 0 6px;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #505160;
            letter-spacing: 0; 
        }
        .receiveAccount{
            width: 100%;
            margin:10px 0 6px;
            height:36px;
            background: #F7F8FA;
            border: 1px solid #EFEFEF;
            border-radius: 2px;

        }
        .balance{
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #888998;
            letter-spacing: 0;
        }
    }

    // rent 
    .rentIntroduce{
        margin:0 auto 18px auto;
        min-width: 274px;
        height:27px;
        line-height: 27px;
        background: #F7F8FA;
        border-radius: 2px;
        font-family: PingFang-SC-Medium;
        font-size: 14px;
        color: #888998;
        letter-spacing: 0;
        text-align: center;
    }

    // danRange
    .dayRange{
        display: flex;
        height:36px;
        width: 100%;
        margin:10px 0 5px;  
        border: 1px solid #EFEFEF;
        border-radius: 2px;
        overflow: hidden;
        .am-button>.am-button-icon{
            margin:0;
        }
        .operatingBtn{
            height:100%;
            border-radius: 0;
            .am-button-small{
                padding: 0 10px;
            }
            &:before{
                border:none;
            }
            .operationReduceIcon{
                display: block;
                width: 16px;
                height:2px;
                font-size: 12px;
            }
            .operationAddIcon{
                display: block;
                width: 16px;
                height:16px;
                font-size: 12px;
            }
        }
        .rentDay{
            flex-grow: 1;
            height: 100%;
            text-align: center;
            border:none;
            border-left:1px solid #EFEFEF;
            border-right:1px solid #EFEFEF;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #C2C8D5;
            letter-spacing: 0;
            text-align: center;
            background: #F7F8FA;
        }
    }

    // submit btn
    .bankSubmit{
        margin-top:8px;
        height:40px;
        border-radius: 2px;
        font-family: PingFang-SC-Bold;
        font-size: 14px;
        color: rgba(255,255,255,0.50);
        text-align: center;
    }
}

// modal
.am-modal-mask{
    background: #505160;
}
.modalContent{
    width: 300px;
    height: 344px;
    background: #FFFFFF;
    border-radius: 2px;
    .am-modal-header{
        padding: 24px 20px 20px;
    }
    .am-modal-title{
        padding: 0;
        font-family: PingFang-SC-Bold;
        font-size: 18px;
        color: #505160;
        letter-spacing: 0;
        text-align: center;
    }
    .am-modal-content{
        border-radius: 2px;
        padding: 0;
        .am-modal-body{
            padding:0 20px;
            max-height:282px;
        }
    }
    .rentIntroduceCont{
        .modalRentContent{
            height: 195px;
            text-align: justify;
            overflow: scroll;
            font-family: PingFang-SC-Medium;
            font-size: 14px;
            color: #505160;
            line-height: 20px;
            letter-spacing: 0;
        }
        .modalCloseBtn{
            width: 120px;
            height: 36px;
            line-height: 35px;
            margin: 24px auto 0;
            font-family: PingFang-SC-Bold;
            font-size: 16px;
            color: #636ACC;
            text-align: center;
            border: 1px solid #636ACC;
            border-radius: 2px;
        }
    }
}







