.mainContent .send {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
    background: #f3f3f3;
}

.queueLoading {
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    background: rgba(255,255,255,0.9);
    z-index: 5;
}

.queueLoading > svg {
    display: block;
    width: 50px;
    height: 50px;
    margin: 250px auto;
}

.queueError {
    text-align: center;
    color: #F44336;
    font-weight: 500;
    padding-bottom: 20px;
    margin-top: 0;
}

.sendRadioGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    display: none;
}

.sendRadioButton {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.sendRadioButton input {
    display: block;
    margin: 0px;
}

.sendRadioButton span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-top: 1px;
    margin-left: 5px;
}

.sendRadioButton span.disabled {
    color: #bdbdbd;
}

.sendInputGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px;
    position: relative;
}

.sendInputGroup > input {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    text-align: right;
    padding-right: 47px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

.sendLabel {
    position: absolute;
    right: 16px;
    font-weight: 600;
    font-family: Source Code Pro,monospace;
    font-size: 14px;
}

.sendGroup {
    padding: 0px;
    box-sizing: border-box;
    margin-top: 20px;
    display: none;
}

.sendGroup:first-child {
    margin-top: 0px;
}

.sendGroupTop {
    display: flex;
    justify-content: space-between;
}

.sendGroupAmount {
    font-family: 'Source Code Pro', monospace;
}

.sendGroupDetail {
    margin-top: 10px;
    padding-top: 10px;
    text-align: right;
    padding-right: 0;
    font-size: 13px;
}

.bold {
    font-weight: 700;
}

.orange {
    color: #ED3F23;
}

.sendButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sendButton {
    width: 150px;
}

.sendGroup .button {
    flex: 1;
}

.sendGroup .button.secondary {
    margin-right: 10px;
}

.sendGroup .button.primary {
    margin-left: 10px;
}