.mainContent .send {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
    background: #f3f3f3;
}

.queueLoading {
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    background: rgba(255,255,255,0.9);
    z-index: 5;
}

.queueLoading > svg {
    display: block;
    width: 50px;
    height: 50px;
    margin: 250px auto;
}

.queueError {
    text-align: center;
    color: #F44336;
    font-weight: 500;
    padding-bottom: 20px;
    margin-top: 0;
}

.sendRadioGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    display: none;
}

.sendRadioButton {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.sendRadioButton input {
    display: block;
    margin: 0px;
}

.sendRadioButton span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-top: 1px;
    margin-left: 5px;
}

.sendRadioButton span.disabled {
    color: #bdbdbd;
}

.sendInputGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px;
    position: relative;
}

.sendInputGroup > input {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    text-align: right;
    padding-right: 47px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

.sendLabel {
    position: absolute;
    right: 16px;
    font-weight: 600;
    font-family: Source Code Pro,monospace;
    font-size: 14px;
}

.sendGroup {
    padding: 0px;
    box-sizing: border-box;
    margin-top: 20px;
    display: none;
}

.sendGroup:first-child {
    margin-top: 0px;
}

.sendGroupTop {
    display: flex;
    justify-content: space-between;
}

.sendGroupAmount {
    font-family: 'Source Code Pro', monospace;
}

.sendGroupDetail {
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 0;
    font-size: 13px;
}

.sendGroupDetail span {
    float: right;
}

.bold {
    font-weight: 700;
}

.orange {
    color: #ED3F23;
}

.sendButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sendButton {
    width: 150px;
}

.sendGroup .button {
    flex: 1;
}

.tokenInputGroup {
    position: relative;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    font-size: 15px;
    font-family: Roboto;
    font-weight: normal;
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tokenInput {
    flex: 1;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-align: right;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding-right: 10px;
    color: #000;
}

.send-dropdown {
    height: 50px;
}

.send-dropdown--control {
    height: 50px;
    border: none;
    padding-left: 0;
    padding: 0;
    padding-right: 40px;
    overflow: auto;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    color: #000;
}

.send-dropdown--control .Dropdown-placeholder span.tokenLabel {
    display: none;
}

.send-dropdown--arrow {
    right: 10px;
    top: 50%;
    margin-top: -2.5px;
    right: 15px;
}

.send-dropdown--menu {
    border: none;
    width: auto;
    display: flex;
    right: 0;
    flex-direction: column;
    width: 360px;
    background: transparent;
}

.send-dropdown--menu .Dropdown-option {
    height: 40px;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 12px;
    line-height: 40px;
    background: #fff;
    text-align: right;
    overflow: hidden;
    border-top: 1px solid #eee;
    position: relative;
}

.send-dropdown--menu .Dropdown-option.is-selected {
    color: #3085d6;
}

.send-dropdown--menu .Dropdown-option .tokenLabel {
    background: #3085d6;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    right: 12px;
    height: 14px;
    line-height: 14px;
    margin-top: -8px;
}

.send-dropdown--menu .Dropdown-option.isToken {
    padding-right: 70px;
}