.button {
    height: 45px;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.disabled, .button.loading {
    cursor: default;
}

.button.disabled {
    opacity: 0.5;
}

.button.disabled::before, .button.loading::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    display: none;
    content: "";
}

.button.disabled::before {
    background: rgba(0, 0, 0, 0.05);
    display: block;
}

/* Loading icon using background */
.button.loading::after {
    background: url('~assets/img/loader.svg') center center no-repeat;
    background-size: 40px;
    display: block;
}