.pageContainer > .header {
    width: 100%;
    background: #FFFFFF;

    .titleContainer {
        height: 58px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & > .fun{
            width: 50px;
            height: 58px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            &:nth-child(1){
                background-image: url('../../../assets/images/new/icon-refresh.svg');
            }
            &:nth-child(3){
                background-image: url('../../../assets/images/new/icon-setting.svg');
            }
        }
        & > .nodesWrap{
            flex:1;
            display: flex;
            justify-content: center;
            align-items: center;
            .nodes{
                position: relative;
                display: flex;
                flex-direction:row;
                align-items:center;
                border: 1px solid #C2C2D5;
                border-radius: 2px;
                width: 140px;
                height: 28px;
                padding:0 8px;
                .dot{
                    width: 12px;
                    height: 12px;
                    border-radius: 100%;
                }
                .name{
                    cursor: pointer;
                    flex: 1;
                    text-align: center;
                }
                &:after{
                    content:'';
                    width: 0;
                    height: 0;
                    border-left:4px solid transparent;
                    border-right:4px solid transparent;
                    border-bottom:4px solid transparent;
                    border-top:4px solid #DBDBDB;
                }
            }

        }

        .title {
            font-size: 14px;
            line-height: 14px;
        }

        .subTitle {
            height: 13px;
            line-height: 13px;
            color: #888888;
            padding-top: 3px;
        }
    }

    .pageLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: #707897;
        color: #fff;

        .pageLink {
            padding: 0 16px;
            height: 50px;
            line-height: 50px;
            font-size: 13px;
            transition: all 150ms ease;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &.active {
                background: #474d6440;
            }

            &:not(.active):hover {
                background: #6068836b;
            }
        }
    }
}
