.transaction {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 5px;
    box-shadow: 1px 1px 2px #d2d2d2;
    font-weight: 500;
    cursor: default;
    transition: 100ms;
}

/*.transaction:hover {
    transform: translateX(2px);
    transition: 0ms;
} why?????? */

.transaction > svg {
    margin: 0px 10px;
}

.iconFreeze {
    fill: #00b2ff;
}

.iconToken {
    fill: #ffdb00;
}

.iconReceived {
    fill: #1fbe9a;
    transform: rotate(180deg);
}

.iconSent {
    fill: #ed3f23;
}

.red {
    color: #ED3F23;
}

.green {
    color: #1FBE9A;
}

.txLabel {
    font-size: 12px;
    margin-bottom: 4px;
    font-weight: 500;
}

.txAddress {
    font-size: 10px;
    user-select: all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.txInfoLeft {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.txInfoRight {
    flex-grow: 1;
    text-align: right;
    margin-right: 10px;
    white-space: nowrap;
}

.txAmount {
    font-size: 12px;
    margin-bottom: 4px;
}

.txAmount > span.margin-left {
    margin-left: 5px;
}

.txDate {
    font-size: 11px;
}

.copyButton {
    height: 20px;
    font-size: 10px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    width: 45px;
    border-radius: 10px;
    background: linear-gradient(to right, #DC2C73, #ED3F21);
    cursor: pointer;
    margin-right: 10px;
}

.smartContract {
    color: #3085d6;
    fill: #3085d6;
}

/*





    TODO: CHANGE THESE COLOURS




*/

.triggerSmartContract {
    color: #ff9800;
    fill: #ff9800;
}