.import {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.importHeader {
    font-weight: 600;
    color: #b3b3b3;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.importText {
    text-align: center;
    font-size: 13px;
    width: 320px;
    margin-bottom: 30px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.importOptions {
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
}

.importOptionGroupHeader {
    font-size: 15px;
}

.importOptionGroup {
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
    overflow: hidden;
}

.importOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    background: #0d1115;
    color: #fff;
    padding: 0px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #1f1f1f;
    cursor: pointer;
    transition: 200ms;
}

.importOption:hover {
    background: #191e23;
    transition: 0s;
}

.importOption:last-child {
    border: none;
}

.importOptionHeader {
    color: #ed3f23;
    font-size: 14px;
    font-weight: 500;
}

.importOptionBody {
    font-size: 12px;
    margin-top: 5px;
}