.exportPage {
    flex: 1;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    text-align: center;
    color: #333;
    height: 100%;
    box-sizing: border-box;
    min-height: 100%;
}

.exportTitle {
    font-size: 26px;
}

.exportBody {
    font-size: 15px;
    margin-top: 20px;
}

.exportBody strong {
    font-weight: 500;
    color: #ed3f21;
}

.backupBody {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 500;
}

.backupPhrase {
    margin-top: 20px;
    background: #f6f6f6;
    padding: 20px;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px rgb(217, 217, 217);
    word-break: break-all;
}

.exportPage > .button {
    margin-top: 20px;
}

.backupTag {
    display: block;
    padding-bottom: 5px;
    font-weight: 500;
}