.mainContent .send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    padding: 35px;
    box-sizing: border-box;
    height: 100%;
}

.sendRadioGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sendRadioButton {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.sendRadioButton input {
    display: block;
    margin: 0px;
}

.sendRadioButton span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-top: 1px;
    margin-left: 5px;
}

.sendRadioButton span.disabled {
    color: #bdbdbd;
}

.sendInputGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 20px;
}

.sendInputGroup > input {
    height: 40px;
    width: 245px;
    border-radius: 5px;
    font-size: 14px;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

.sendGroup {
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 35px;
}

.sendGroup:first-child {
    margin-top: 0px;
}

.sendGroupTop {
    display: flex;
    justify-content: space-between;
}

.sendGroupHeader {

}

.sendGroupAmount {
    font-family: 'Source Code Pro', monospace;
}

.sendGroupDetail {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-family: 'Source Code Pro', monospace;
    text-align: right;
    padding-right: 20px;
    font-size: 12px;
}

.bold {
    font-weight: 700;
}

.orange {
    color: #ED3F23;
}

.sendButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sendButton {
    width: 150px;
}