.import {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: #f3f3f3;
    overflow: auto;
}

.importText {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

.importOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 200ms;
    border-radius: 4px;
    background: #ffffff;
    margin-top: 10px;
    box-shadow: 0 1px 5px 0 #f5f5f5;
    width: 100%;
}

.importOption:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px 0 #cacaca;
}

.importOptionHeader {
    color: #ed3f23;
    font-size: 14px;
    font-weight: 500;
}

.importOptionBody {
    font-size: 12px;
    margin-top: 5px;
    line-height: 15px;
}

.importOption:first-of-type {
    margin-top: 0;
}

.textAreaImport {
    background: #ffffff;
    padding: 20px;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px rgb(217, 217, 217);
    user-select: all;
    word-break: break-word;
    border: none;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.import .textInput {
    width: 100%;
    text-indent: unset;
    padding: 0 17px;
    margin: 0;
}

.importOptionBody strong {
    font-weight: 600;
}