@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('./swal.scss');

* {
    box-sizing: border-box;
}

.mono {
    font-family: 'Ubuntu Mono', monospace;
}
html,body,#root {
    height: 600px;
    width: 360px;
    //font-family: 'Rubik', sans-serif;
    font-family: sans-serif;
    cursor: default;
    user-select: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body {
    background: #353A4E;
}

#root {
    display: flex;
    flex: 1;
    flex-direction: column;
    background:#fff;
}

:focus {
    outline: none !important;
}

.insetContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    &.logoWrap{
        padding-top: 93px;
    }
    .back{
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 56px;
        background-image: url('../images/new/icon-back.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }
    &.createOrImportWallet,&.writingPhrase,&.confirmingPhrase,&.mnemonicImport,&.privateKeyImport,&.choosingType,&.choosingType2,&.receive,&.send,&.transactions{
        justify-content: flex-start;
        padding:0;
        .pageHeader{
            position: relative;
            height: 56px;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin:0;
            .back{
                @extend .back;
            }
            .logo1{
                width: 25px;
                height: 25px;
                background-image: url('../images/new/logo.svg');
                background-repeat: no-repeat;
                background-size:100% auto;
            }
            .logo2{
                width: 73px;
                height: 13px;
                background-image: url('../images/new/logo2.svg');
                background-repeat: no-repeat;
                background-size:auto 100%;
                margin-left: 10px;
            }
        }
        .greyModal{
            position: relative;
            flex:1;
            padding:24px;
            display: flex;
            flex-direction:column;
            background-color: #F7F8FA;
            .warning{
                z-index:100;
                position: absolute;
                background: rgba(80,81,96,0.80);
                border-radius: 2px;
                color: #fff;
                font-size: 14px;
                top:50%;
                left:50%;
                padding:10px;
                transform: translate(-50%,-50%);
                transition:all 1s ease-in-out;
                opacity:0;
                display: none;
                &.show{
                    opacity:1;
                    display: block;
                }
            }
            .modalDesc {
                font-size: 12px;
                color:#888998;
                margin-bottom: 14px;
            }
            & > .walletOptions{
                flex:1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .walletOption{
                    margin:0;
                    flex:1;
                    padding:24px 24px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .tip{
                        font-size: 12px;
                        margin-top: 10px;
                        text-align: center;
                        width: 300px;
                    }
                    .iconWrap{
                        margin-bottom: 35px;
                    }
                    &:first-child{
                        .iconWrap{
                            width: 90px;
                            height: 72px;
                            background-image: url('../images/new/icon-create-account.png');
                        }
                    }
                    &:last-child{
                        margin-top: 16px;
                        .iconWrap{
                            width: 90px;
                            height: 70px;
                            background-image: url('../images/new/icon-import-account.png');
                        }
                    }
                }
            }
        }
    }
    &.writingPhrase,&.confirmingPhrase,&.choosingType,&.choosingType2,&.mnemonicImport,&.privateKeyImport,&.receive,&.send,&.transactions{ .greyModal{background-color: #fff;} }
    &.choosingType{
        .greyModal{
            padding:0 0 0 24px;
            .option{
                display: flex;
                justify-content: space-between;
                height: 52px;
                line-height: 52px;
                color: #515060;
                cursor: pointer;
                font-size: 16px;
                border-bottom: 1px solid #EFEFEF;
                &:after{
                    width: 40px;
                    height: 52px;
                    content: '';
                    background-image: url('../images/new/icon-enter.svg');
                    background-repeat: no-repeat;
                    background-position:center;
                    transition: all .2s ease-in-out;
                }
                &.active{
                    &:after{
                        transform: rotateZ(90deg);
                    }
                }
            }
        }
    }
    &.choosingType2{
        .greyModal{
            padding:0;
            .option{
                display: flex;
                justify-content: space-between;
                min-height: 52px;
                line-height: 52px;
                color: #515060;
                cursor: pointer;
                font-size: 16px;
                .txt{
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid #EFEFEF;
                    justify-content: space-between;
                    & > span{
                        font-size: 14px;
                        color: #515060;
                    }
                    & > .span{
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        color: #515060;
                        .unit{
                            font-size: 14px;
                            color: #888998;
                            flex:1;
                            text-align: right;
                        }
                        &:after{
                            width: 52px;
                            height: 52px;
                            content: '';
                            background-image: url('../images/new/icon-enter.svg');
                            background-repeat: no-repeat;
                            background-position:center;
                            transition: all .2s ease-in-out;
                        }
                    }

                }
                .settingWrap{
                    height:0;
                    overflow:hidden;
                    transition: all 0.2s ease-in-out;
                    .unit{
                        height: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        margin-top: 10px;
                        font-size: 14px;
                        &:first-child{
                            margin-top: 0;
                        }
                        &:last-child{
                            margin-bottom: 20px;
                        }
                        &:before{
                            content:'';
                            margin-right: 14px;
                            width: 14px;
                            height: 14px;
                            border:1px solid #C2C8D5;
                            border-radius:100%;
                        }
                        &.selected{
                            &:before {
                                width: 16px;
                                height: 16px;
                                background-image: url('../images/new/icon-selected.svg');
                                border: none;
                            }
                        }
                    }
                    .customButton{
                        width: 250px;
                    }
                    .input-group{
                        width: 250px;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        label{
                            height: 20px;
                            line-height: 20px;
                            font-size: 14px;
                            color: #888998;
                        }
                        .input{
                            height: 36px;
                            line-height:36px;
                            margin-top: 10px;
                            background-color: #F7F8FA;
                            border-radius:2px;
                            input{
                                width: 100%;
                                height: 100%;
                                font-size: 14px;
                                padding:0 8px;
                                border:none;
                                background-color: transparent;
                            }
                        }
                    }
                }
                &:before{
                    width: 52px;
                    height: 52px;
                    content: '';
                    background-repeat: no-repeat;
                    background-position:center;
                }
                &:first-child{
                    &:before{
                        background-image: url('../images/new/icon-node.svg');
                    }
                }
                &:nth-child(2){
                    &:before{
                        background-image: url('../images/new/icon-currency.svg');
                    }
                }
                &:nth-child(3){
                    &:before{
                        background-image: url('../images/new/icon-lock.svg');
                    }
                }
                &.active{
                    .txt{
                        & > .span{
                            &:after{
                                transform: rotateZ(90deg);
                            }
                        }
                    }
                }
                &:first-child{
                    &.active{
                        .settingWrap{
                            height: 360px;
                        }
                    }
                }
                &:nth-child(2){
                    &.active{
                        .settingWrap{
                            height: 160px;
                        }
                    }
                }
            }
        }
    }
    &.transactions{
        .greyModal{
            padding-top:0;
            .tabNav{
                padding:0 20px;
                height: 36px;
                display: flex;
                flex-direction: row;
                align-items: center;
                & > div{
                    flex:1;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    font-size: 15px;
                    color: #888998;
                    &.active{
                        color: #636ACC;
                        border-bottom:2px solid #636ACC;
                    }
                }
            }
            .transaction{
                flex:1;
                width: 100%;
                overflow: auto;
                .lists{
                    flex-direction: column;
                    align-items: center;
                    padding:0 14px 36px 0;
                    .item{
                        margin-top:18px;
                        width: 100%;
                        height: 40px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .left{
                            .address{
                                height: 20px;
                                line-height: 20px;
                                font-size: 14px;
                                color: #505160;
                            }
                            .time{
                                height: 18px;
                                line-height: 18px;
                                margin-top: 2px;
                                font-size: 12px;
                                color: #C2C2D5;
                            }
                        }
                        .right{
                            display: flex;
                            align-items:center;
                        }
                        &.receive{
                            .right{
                                &:before{
                                    content:'+'
                                }
                                color: #76AB61;
                            }
                        }
                        &.send{
                            .right{
                                &:before{
                                    content:'-'
                                }
                                color: #DB705C;
                            }
                        }
                    }
                }
            }
        }
        .buttonGroup{
            height: 46px;
            width: 100%;
            position: fixed;
            bottom:14px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            button{
                cursor: pointer;
                width: 150px;
                color: #fff;
                font-size: 16px;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                border:none;
                &:before{
                    width: 16px;
                    height: 14px;
                    content:'';
                    background-position: center;
                    margin-right: 6px;
                }
                &.receive{
                    background-color: #76AB61;
                    &:before{
                        background-image: url('../../assets/images/new/icon-receive.svg');
                    }
                }
                &.send{
                    background-color: #DB705C;
                    &:before{
                        background-image: url('../../assets/images/new/icon-transfer.svg');
                    }
                }
            }

        }
    }
    &.receive,&.send{
        .greyModal{
            display: flex;
            flex-direction: column;
            align-items: center;
            &>.desc{
                margin:50px 0 30px;
                font-size: 12px;
                color: #888998;
            }
            &>.address{
                font-size: 14px;
                color: #505160;
                margin-top: 28px;
            }
            &>.copyAddressBtn{
                cursor: pointer;
                width: 150px;
                height: 40px;
                border: 1px solid #505160;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                color: #505160;
                margin-top: 14px;
                &:before{
                    height: 14px;
                    width: 14px;
                    background-image: url('../images/new/icon-copy2.svg');
                    content: "";
                    margin-right: 4px;
                }
            }
            .input-group{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 10px;
                label{
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    color: #888998;
                }
                .otherInfo{
                    text-align: right;
                    height: 40px;
                    line-height: 40px;
                    font-size: 12px;
                    color: #888998;
                }
                .input{
                    width: 100%;
                    padding:0 10px;
                    height: 36px;
                    background: #F7F8FA;
                    border-radius: 2px;

                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &>input{
                        background-color: transparent;
                        width: 100%;
                        height: 100%;
                        border:none;
                    }
                    &.dropDown{
                        position: relative;
                        &.isOpen{
                            &:after{
                                transform: rotate(180deg);
                            }
                        }
                        .dropWrap{
                            position: absolute;
                            z-index: 100;
                            width: 100%;
                            height: 0;
                            left:0 ;
                            top:100%;
                            background: #EFEFEF;
                            border-radius: 2px;
                            transition: all .2s ease-in-out;
                            overflow:hidden;
                            .dropItem{
                                height: 36px;
                                line-height: 36px;
                                padding:0 10px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                &.selected,&:hover{
                                    background-color: #E6E5E9;
                                }
                                span{
                                    &:first-child{
                                        flex:1;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                    }
                                }
                            }
                        }
                        &>.selected{
                            flex:1;
                            padding-right:10px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            span{
                                &:first-child{
                                    flex:1;
                                    width:154px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                            }

                        }
                        &:after{
                            content: '';
                            transition:all .2s ease-in-out; 
                            width: 12px;
                            height: 8px;
                            background-image: url('../../assets/images/new/icon-drop-down.svg');
                        }
                    }
                }
            }
        }
    }
    .pageHeader {
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        color: #505160;
        width: 100%;
        &LogoWrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo1{
                width: 65px;
                height: 65px;
                background-image: url('../images/new/logo.svg');
                background-repeat: no-repeat;
            }
            .logo2{
                margin-top: 10px;
                width: 100px;
                height: 20px;
                background-image: url('../images/new/logo2.svg');
                background-repeat: no-repeat;
            }
        }
        &Text{
            height: 65px;
            line-height: 65px;
            font-size: 20px;
            color: #515060;
        }
    }
    .greyModal {
        background: #EEEEEE;
        border-radius: 5px;
        padding: 25px;
        width: 100%;
        ::-webkit-input-placeholder {
             color: #C2C2D5;
        }
        .modalDesc {
            font-size: 13px;
        }
        &.loginModel,&.registrationModel{
            background: transparent;
            padding:0;
            input,button,.customInput{
                height: 46px;
                line-height: 46px;
            }
            .customInput{
                background: #F7F8FA;
                border-radius: 2px;
                input{
                    text-align: center;
                }
            }
            .customButton.primary{
                background-color: #636ACC;
                border-radius: 2px;
            }
        }
        &.registrationModel{
            .customInput{
                background: #fff;
                border-bottom:1px solid #F0F0F0;
                border-radius: 2px;
                input{
                    text-align: left;
                }
            }
            .passwordNotForgot{
                margin-top: 20px;
                font-size: 12px;
                color: #888998;
                letter-spacing: 0;
                text-align:center;
            }
            .criteria{
                background-color: #fff;
                padding:4px 0;
                .statusIcon{
                    width: 20px;
                }
            }
            & > .inputGroup{
                &:nth-child(2){
                    margin:8px 0 30px 0;
                }
            }
        }
    }

    .errorModal {
        background: #c83434;
        width: 100%;
        border-radius: 4px;
        padding: 20px 15px;
        color: #FFFFFF;
    
        span:first-of-type {
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: 15px;
            line-height: 15px;
        }

        span:last-of-type {
            display: block;
            margin-top: 10px;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }
    }
}

.hasMargin {
    margin: 20px;
}

.hasTopMargin {
    margin-top: 20px;
}

.hasBottomMargin {
    margin-bottom: 20px;
}

.hasLeftMargin {
    margin-left: 20px;
}

.hasRightMargin {
    margin-right: 20px;
}

.unsupportedState {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    padding: 50px;
    text-align: center;
    cursor: pointer;
}

.buttonRow {
    display: flex;
    width: 100%;
    flex-direction: row;

    .customButton {
        flex: 1;
        margin: 0 10px;
    }

    .customButton:first-of-type {
        margin-left: 0;
    }

    .customButton:last-of-type {
        margin-right: 0;
    }
}

.cc-window {
    padding: 20px !important;

    .cc-message {
        line-height: 19px !important;

        .cc-link {
            color: #72c1ff !important;
            padding: 0 !important;
            text-decoration: none !important;
            display: inline !important;
        }
    }
}
