.pageContainer {
    width: 360px;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    .dropList{
        cursor: pointer;
        position: absolute;
        width: 0;
        height: 0;
        opacity:0;
        top: 40px;
        left: 0;
        z-index:100;
        background: rgba(80,81,96,0.90);
        border-radius: 4px;
        transition: all ease-in-out .2s;
        overflow:hidden;
        &.accountList{
            top: 30px;
        }
        &.menuList{
            transform: translateX(-100%);
            top: 30px;
            left:100%;
        }
        .item{
            display: flex;
            flex-direction: row;
            padding-right:8px;
            align-items: center;
            height: 30px;
            color: #fff;
            font-size: 12px;
            cursor: pointer;
            &:hover{
                background-color: #888998;
            }
            span{
                &:nth-child(2){
                    flex:1;
                }
                &.selected{
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background: #DB705C;
                }
            }
            .dot{
                width: 12px;
                height: 12px;
                border-radius:100%;
                margin:0 10px;
            }
            .icon{
                width: 30px;
                height: 30px;
                background-position: center;
                background-repeat: no-repeat;
                &.account{
                    background-image: url('../../assets/images/new/icon-user.svg');
                }
                &.create{
                    background-image: url('../../assets/images/new/icon-create.svg');
                }
                &.import{
                    background-image: url('../../assets/images/new/icon-import.svg');
                }
                &.backup{
                    background-image: url('../../assets/images/new/icon-backup.svg');
                }
                &.whitelist{
                    background-image: url('../../assets/images/new/icon-white-list.svg');
                }
                &.delete{
                    background-image: url('../../assets/images/new/icon-delete.svg');
                }
                &.link{
                    background-image: url('../../assets/images/new/icon-link.svg');
                }
            }

            &:first-child{
                border-radius:4px 4px 0 0;
            }
            &:last-child{
                border-radius:0 0 4px 4px;
            }
            span:nth-child(2){
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    .pageView {
        flex: 1;
        position: relative;
    
        .page {
            transition: transform 250ms ease;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    }    
}
